*script.*
*DS_STORE
volvibes.py
data/*
*.csv.gz
*.parquet
*.pqt
*.env
.env
.venv
*__pycache__
build
*.egg-info
*.so
*.o
*.vscode
*.a
core/build*
.ruff_cache
.vscode

# LibTorch artifacts
libtorch/
*.zip
*.pt

# Build artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

python/fastvol/_core
python/dist
python/README.md
python/fastvol/_core.c